/*DEFAULT PAGINATOR*/
.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.paginator a:not([href='#']),
.paginator span {
  display: inline-block;
  border-radius: 10px;
  padding: 8px 16px;
  margin: auto 5px;
  border-right: 0;
  color: #555555;
  font-weight: 700;
  text-decoration: none;
  transition-duration: 0.2s;
}

.paginator a:not(.paginator_active) {
  background: #f7f7f7cc;
}

.paginator a:not([href='#']):hover {
  background: var(--red-600);
  background-size: 200%;
  color: #fbfbfb;
}

.paginator span {
  color: #fff;
  background: var(--red-400);
}
/*-----------------------------*/
/*----------- CARDS ----------*/
/*-----------------------------*/
.cards .card {
  border: none;
  background: transparent !important;
  transition: all 0.4s;
}
.cards .card a {
  text-decoration: none !important;
}
.cards .card .card-content {
  z-index: -1;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15) !important;
}
.cards .card .card-top .img {
  z-index: 4;
}
.cards .card .card-top .img:hover {
  border-radius: 25px !important;
}

.cards .card .card-content,
.cards .card .card-top .img {
  padding: 0;
  text-align: left;
  border-radius: 15px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.cards .card .card-top .img {
  height: 200px;
  max-height: 200px;
  width: 100%;
  object-fit: cover;
}
.cards .card .card-content a .title {
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  color: #000;
}
.cards .card .card-content .date {
  color: #aaa;
  font-size: 11px;
  font-weight: 700;
}
.cards .card .card-content .subtitle {
  font-size: var(--font-small);
  color: #979797;
}
.cards .card .card-content .subtitle a {
  color: var(--red);
  font-weight: 700;
}
.cards .card .card-content .subtitle a:hover {
  color: var(--red-700);
}
.cards .card .card-footer {
  background: transparent;
  border: none;
  padding-top: 0;
}
.cards .card-footer .views .count-views {
  padding-top: 6px;
  font-size: 11px;
}
.cards .card .card-footer img {
  width: 20px;
  color: #aaa;
}
/*----------------------------------*/
/*---------- CONTENT POST ----------*/
/*----------------------------------*/
/* .post .content :first-child {
  margin-top: 0;
}

.post .content h2,
.post .content h3,
.post .content h4,
.post .content h5 {
  margin: 40px 0 20px 0;
  font-weight: 700;
}

.post .content h2 {
  font-size: 1.8em;
}

.post .content h3 {
  font-size: 1.6em;
}

.post .content h4 {
  font-size: 1.4em;
}

.post .content h5 {
  font-size: 1.2em;
}

.post .content p {
  margin-top: 25px;
}

.post .content ul,
.post .content ol {
  margin: 20px 0 20px 40px;
}

.post .content ul {
  list-style: circle;
}

.post .content ol li,
.post .content ul li {
  margin-top: 5px;
}

.post .content a {
  color: var(--color-red);
  font-weight: 700;
  text-decoration: none;
}

.post .content a:hover {
  text-decoration: underline;
}

.post .content pre {
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #eeeeee;
  margin: 20px 0;
  overflow-x: auto;
} */
