/*--------------------------*/
/*---------- HOME ----------*/
/*--------------------------*/
.filters {
  border-bottom: 1px solid #f0f0f0 !important;
  border-top: 1px solid #f0f0f0 !important;
}
.filters .btn-category {
  background: transparent;
  border: none;
  transition: all 0.4s;
  font-weight: 800;
}
.filters .btn-category i {
  font-size: var(--font-small);
}
.filters .space {
  opacity: 0.25;
}
.filters .current {
  font-weight: 700;
  color: var(--red);
  font-size: var(--font-small);
}
.filters .search-box,
.filters .btn-category {
  max-height: 45px;
  height: 45px;
}
.filters .search-box input {
  border-radius: 50px !important;
  padding: 0 35px 0 15px;
}
.filters .search-box input::placeholder {
  color: #aaa;
}
.filters .search-box input:focus {
  background: transparent;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
}
.filters .search-box .btn-search {
  width: 45px;
  height: 45px;
  transition: all 0.4s;
  border: 0;
  background: transparent !important;
  border-radius: 0 50px 50px 0;
  position: absolute;
  right: 15px;
  color: #555;
  font-size: 22px;
  line-height: 50px;
}
.filters .btn-category:hover,
.filters .search-box .btn-search:hover {
  color: var(--red);
}
.empty .empty_content {
  padding: 50px;
}
.empty .empty_content h3,
h5 {
  font-weight: 800;
}
.empty .empty_content p {
  font-weight: 600;
}
.empty .empty_content img {
  width: 400px;
  max-width: 100%;
}
.count-result {
  font-weight: 700;
}
.count-result span {
  color: var(--red-600);
}
/*----------------------------*/
/*----------- ABOUT ----------*/
/*----------------------------*/
.about-profile .img-thumb img {
  border: 8px solid #fff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15) !important;
}
.about-profile .profile {
  padding: 15px 0;
}
.about-profile .profile h3 {
  font-weight: 800;
}
.about-profile .profile p {
  text-align: justify;
  color: #949494;
}
.about-profile .profile .about {
  position: relative;
  margin: 20px 0 20px 0;
}
.about-profile .profile .about ul li {
  font-weight: 800 !important;
  color: #040404;
  position: relative;
  margin-bottom: 5px;
  list-style-type: none;
}
.about-profile .profile .about ul li a:hover {
  color: var(--green-600);
}
.about-profile .profile .about .detail {
  text-decoration: none;
  color: #040404;
  font-weight: 600;
  opacity: 0.5;
  margin-left: 5px;
  font-size: var(--font-small);
}
.about-profile .profile .about .socials {
  color: #fff;
  text-decoration: none;
  margin: 3vh 0px !important;
}
.about-profile .profile .about .socials span {
  display: inline-block !important;
  font-size: var(--font-medium);
  margin-right: 30px;
  font-weight: normal !important;
}
.about-profile .profile .about .socials span a {
  color: var(--green-600);
}
.about-profile .profile .about .socials span a:hover {
  color: var(--green-400);
}
.faq .content .collapse-content {
  margin-top: 15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15) !important;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.faq .content .collapse-item {
  text-decoration: none;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--red);
}

.faq .content .collapse-item::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f128';
  color: var(--red-800);
}
.faq .content .collapse p {
  text-align: justify;
}
/*----------------------------------*/
/*----------- IMAGE MODAL ----------*/
/*----------------------------------*/
.close-modal {
  color: var(--red);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.4s;
}
.close-modal:hover {
  color: #000;
}

#modal img {
  display: block;
  max-width: 100%;
}

.modal .preview {
  overflow: hidden;
  width: 300px;
  height: 210px;
  min-width: 300px;
  min-height: 210px;
  margin: 10px;
  border: 1px solid var(--red-600);
}
